.DashboardLayout {
    margin: 70px;
}

#FirstRow {
    display: flex;
    justify-content: space-between;
}

#SecondRow {
    display: flex;
    justify-content: space-between;
}

#ThirdRow {
    display: flex;
    justify-content: space-between;
}

