.DashboardLayout {
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#FirstRow {
    width: 80vw !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#SecondRow {
    width: 80vw !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#ThirdRow {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.rightSecondRow {
    position: relative;
    width: calc(100% - 550px);
    padding: 20px 0 0 15px;
    height: 100px;
}
