.header {
  line-height: 50px;
}

.tablist {
  border-bottom: 1px solid black;
}

.tabpanel {
  height: 420px;
  position: relative;
}

.progres {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 40px;
}

.basaspects {
  position: absolute;
  bottom: 30px;
}